.fascinate-inline-regular {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: 'Arial', sans-serif;
    background-image: url(images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    text-align: center;
}

h1{
    font-family: "Fascinate Inline", system-ui;
    font-weight: 800;
}

p{
    font-family:"Oswald", sans-serif;
    font-weight: 600;
}

.navigate-button {
    padding: 15px 30px;
    background-color: #4cacaf;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigate-button:hover {
    background-color: #208f38;
}